 <style>
 .Messi 0.png {
   width: 200px;
   height: 200px;
   border-radius: 50%;
   border: 5px solid rgba(255, 255, 255, 0.5);
   margin: 0 auto;
   display: block;
   transition: transform 0.3s ease-in-out;
 }

 .Messi 0.png:hover {
   transform: rotate(360deg);
 }
 </style>
